@import "../../less/color.less";
@import "../../less/font.less";
@import "../../less/button.less";
@media screen and (min-width: 768px) {
    
}

.userContol{
    cursor: pointer;
    float: right;
    margin-right: 10px;
}