# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/port/node_modules
/front/node_modules
/reactpwa/node_modules
/vue-storefront/node_modules
/hp/node_modules
/hp/build
/vue-storefront/dist
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# static
/port/static/img/*.jpg
/port/static/img/*.png
/port/static/music/*.mp3
/port/static/output/*.csv
/port/static/video/*.mp4

# dbconfig
port/config/dbConfig.js

# package-lock.json
/port/package-lock.json
/front/package-lock.json
/vue/package-lock.json
/vueFront/package-lock.json

# vue demo
/vue/.DS_Store
/vue/node_modules/
/vue/dist/
/vue/npm-debug.log*
/vue/yarn-debug.log*
/vue/yarn-error.log*
/vue/test/unit/coverage/
/vue/test/e2e/reports/
/vue/selenium-debug.log

# Editor directories and files
/vue/.idea
/vue/.vscode
/vue/*.suo
/vue/*.ntvs*
/vue/*.njsproj
/vue/*.sln

# 
/vueFront/.DS_Store
/vueFront/node_modules/
/vueFront/dist/
/vueFront/npm-debug.log*
/vueFront/yarn-debug.log*
/vueFront/yarn-error.log*
/vueFront/test/unit/coverage/
/vueFront/test/e2e/reports/
/vueFront/selenium-debug.log


# 
/reactpwa/build
reactpwa/src/http.js