@import "../../less/color.less";
@import "../../less/font.less";
@import "../../less/button.less";

.container {
    width: 100%;

    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        li {
            float: left;
            width: 17.5%;
            background-color: #fff;

            &:first-child {
                width: 30%;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}