@import "../../less/color.less";
@import "../../less/font.less";
@import "../../less/button.less";

.container {
    width: 100%;
    margin-bottom: @5;
    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .productsLoading{
            min-height: 700px;
            text-align: center;
            line-height: 700px;
            width: 69%;
            float: left;
        }
        li {
            float: left;
            width: 17%;
            background-color: #fff;
            margin-right: 0.4%;

            &:first-child {
                width: 30%;
                margin-right: 0.4%;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
        @media screen and (max-width: 768px){
            li{
                width: 49.6%;
                margin-top: @2;
                margin-bottom: @2;
                &:first-child {
                    width: 100%;
                }
            }
        }
    }
}