.video{
    .video_Content{
        video{
            // position: relative;
        }
    }
    .videoPlayer_Content{
        background-color: #000;
        text-align: center;
        overflow: hidden;
        #controller{
            height: 30px;
            overflow: hidden;
            float: left;
            line-height: 30px;
            background-color: rgba(0, 0, 0, 0.63);
            transition: all .5s;
            -moz-transition: all .5s; /* Firefox 4 */
            -webkit-transition: all .5s; /* Safari 和 Chrome */
            -o-transition: all .5s; /* Opera */
            .videoButtonLeft{
                float: left;
            }
            .videoButtonRight{
                float: right;
            }
            .playButton{
                font-size: 16px;
                width: 30px;
                text-align: center;
            }
            .ant-slider{
                padding: 0px;
                margin: 13px 5px 0 0;
            }
            .timer{
                font-size: 10px;
                color: #fff;
            } 
        }
    }

}