@white: #fff;
@blue: #0197d6;
@gray: #666;

@a: #575757;
@ahover: #0199d5;
@linkTitle: #666;

@border: #c1c1c1;
@borderHover: #828282;
@footerBorder: #828282;
@nav :#f2f2f2;


a{
    color: @a;
    &:hover{
        color: @ahover;
    }
}
