body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

body,
input,
select,
textarea {
  font-family: 'HP Simplified Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

a {
  color: currentColor;
  text-decoration: none;
}

p {
  margin: 0 !important;
}

dl,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

dd,
dt {
  margin: 0;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font-family: 'HP Simplified Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  padding: 0;
  touch-action: manipulation;
  user-select: none;
  -webkit-appearance: none;
}

button:disabled {
  cursor: default;
  touch-action: none;
}

ul,
li {
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin-top: 0;
  margin-bottom: 0em !important;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: rgba(245, 245, 245, 0);
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;  */
  background-color: rgba(245, 245, 245, 0);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  /* border-radius: 10px; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  */
  background-color: #555;
}

:focus {
  outline-offset: 0px;
  outline: -webkit-focus-ring-color auto 0px;
}

/* label[required] {
  &:after {
      content: '*';
      color: #e02b27;
      font-size: 1.2rem;
      margin: 0 0 0 5px;
  }
} */

.am-grid-item-content{
  padding: 0 !important;
}
