@import "../../less/color.less";
@import "../../less/font.less";
@import "../../less/button.less";

.bannerSpin {
    width: 100%;
    height: 800px;
    text-align: center;
    line-height: 800px;
}

.commonadds {
    width: 100%;

    .topStaticAdds {
        width: 100%;
        min-height: 10px;
        overflow: hidden;

        .commonaddsLoading {
            width: @f;
            min-height: 255px;
            line-height: 255px;
            text-align: center;
        }

        li {
            width: 25%;
            float: left;

            img {
                width: 100%;
            }
        }
    }
}

.promiseing {
    width: 100%;
    min-height: 10px;
    overflow: hidden;
    padding: @pd10 0 @pd20;

    .promise_ul {
        width: 100%;
        max-width: 1420px;
        margin: 0 auto;

        li {
            width: calc(~'100% / 3');
            float: left;
            text-align: center;

            .promise_icon {
                width: 100%;
                font-size: 77px;
            }

            h4 {
                width: 100%;
                font-size: 2.2rem;
                font-weight: 600;
                margin-top: 5px;
            }

            .promise_info {
                width: 100%;
                font-size: 1.6rem;
                color: @linkTitle;
            }
        }
    }
}

.productContent {
    width: 100%;
    background-color: @plbg;
    padding-bottom: 65px;

    .productList {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1412px;
        min-height: 10px;
        overflow: hidden;

        h2 {
            font-size: 40px;
            padding: @pd20 0 @pd10;
        }

        .productListLoading {
            width: @f;
            min-height: 700px;
            text-align: center;
            line-height: 700px;
        }
    }
}

.productInfo {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;

    .product {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        .productImg {
            float: left;
            width: calc(~'50% - 1px');
            border-right: 1px solid @border;
            margin-right: -1px;

            h1 {
                font-size: 2.6rem;
            }
        }

        .productDetailInfo {
            float: left;
            width: 50%;
            padding: @10 0 @10 @30;
        }
    }

    .productDetail {
        width: 100%;
        margin-top: @15;

        .productDetailHeaderunFix {
            display: none;
        }

        .productDetailHeaderFix {
            height: 54px;
            width: 100%;
            display: block;
        }

        .productDetailHeaderFixed {
            position: fixed;
            top: 106px;
            max-width: 1240px;
            width: 100%;
            background-color: #fff;
            z-index: 999;
        }

        .productDetailHeader {
            ul {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 0;

                li {
                    cursor: pointer;
                    width: calc(~'100% / 6');
                    text-align: center;
                    line-height: @50;
                    border: 1px solid @border;
                    border-right: @1 solid @white;
                    position: relative;
                    font-size: 1.6rem;
                    padding: @1 0;

                    &:last-child {
                        border-right: @1 solid @border;
                    }
                }

                .active {
                    border: @2 solid @blue;
                    padding: 0;

                    +.common {
                        border-left: @2 solid #fff;
                    }

                    &:last-child {
                        border-right: @2 solid @blue;
                    }
                }
            }
        }

        .productDetailContent {
            margin-bottom: 30px;

            .common {
                display: none;
            }

            .active {
                display: block;
            }

            .first {
                text-align: center;

                .detailContent {
                    text-align: left;
                    margin-bottom: 25px;

                    .strong {
                        font-weight: 700;
                        line-height: 1.1;
                        font-size: 1.4rem;
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                    }

                    .thin {
                        font-size: 1.4rem;
                        margin-top: 0;
                        margin-bottom: 1rem;
                    }
                }

                .moreContent {
                    text-align: left;

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0 0 0 20px;

                        li {
                            font-size: 1.4rem;
                            list-style-type: disc;
                            line-height: 15px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }

            .second {
                h2 {
                    font-size: 2.2rem;
                    line-height: @40;
                    margin: @20 0;
                }

                table {
                    width: 100%;
                    text-align: left;

                    tr {
                        border-bottom: none;
                        display: table;
                        width: 100%;
                        line-height: @20;

                        &:last-child {
                            border-bottom: @1 solid @border;
                        }
                    }

                    th {
                        padding: @10 0 @10 @30;
                        font-size: 1.6rem;
                        font-weight: 400;
                    }

                    .header {
                        background: #f5f5f5;

                        th {
                            width: 100%;
                            border-top: @1 solid @border;
                        }
                    }

                    .content {
                        border-top: @1 solid @border;

                        th {
                            width: 22%;
                            vertical-align: middle;
                            border-right: @1 solid @border;
                        }

                        td {
                            width: 100%;
                            padding: @10;
                            line-height: @20;
                            font-size: 1.5rem;
                        }
                    }
                }
            }

            .third {
                .content {
                    padding: @20;
                    color: @red;

                    p {
                        margin-bottom: @5;
                        font-size: 1.4rem;
                    }
                }
            }

            .fourth {}

            .fiveth {}

            .sixth {
                margin-top: 20px;

                .form {
                    width: 100%;

                    .form_item {
                        margin-bottom: 20px;
                        display: grid;

                        .title {
                            line-height: 20px;
                            font-size: 1.5rem;
                            margin-bottom: 10px;
                        }

                        .required {
                            &:after {
                                content: " *";
                                color: #fc4c5e;
                                margin-right: -7px;
                            }
                        }

                        .text {
                            width: 100%;
                            padding: @6 12px;
                            font-size: 1.4rem;
                            line-height: 1.429;
                            border: 1px solid @border;
                            background-color: @white;
                        }
                    }
                }

                .formUpload {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

.mayLike {
    width: 100%;
    margin-bottom: 25px;

    h2 {
        padding-left: 10px;
        margin-bottom: 25px;
        font-size: 2.2rem;
        color: @a1;
    }

    .content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}


// productList
.productList {
    width: @f;
    max-width: 1240px;
    margin: 0 auto;

    .productListContent {
        width: @f;
        display: flex;
        flex-wrap: wrap;
        margin: @20 0;

        .productListFilter {
            width: 21%;
            padding-right: @40;

            h2 {
                padding: @12 @16;
                padding-right: @40;
                border: @1 solid @silder_border;
                margin-bottom: -@1;
                font-size: 1.4rem;
                background-color: @slider;
            }

            .price {
                .priceValue {
                    width: @f;
                    height: @15;

                    .minPrice {
                        float: left;
                    }

                    .maxPrice {
                        float: right;
                    }
                }
            }
        }

        .productListProduct {
            width: 79%;
            // min-width: 979px;
            // max-width: 979px;

            .productListTitle {
                display: flex;
                justify-content: space-between;

                h4 {
                    font-weight: 500;
                    font-size: 3.2rem;
                    letter-spacing: .2rem;
                    margin-top: 0;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    color: #000;
                }

                span {
                    font-size: 1.6rem;
                    font-weight: 300;
                    line-height: 48px;
                    cursor: pointer;

                    &:hover {
                        color: @blue;
                    }
                }
            }

            .categoryDescriptionOff {
                display: none;
            }

            .categoryDescriptionOn {
                display: block;
            }

            .productListProductAd {
                width: @f;
            }

            .productListProductDetail {
                width: @f;

                .topSelect {
                    margin-top: 10px;

                    >ul {
                        display: flex;
                        flex-wrap: wrap;

                        >li {
                            width: calc(~'(100% - 200px)/4');
                            position: relative;
                            text-align: center;
                            height: 48px;
                            line-height: 48px;
                            border: 1px solid @border;
                            border-right: 0;
                            background-color: @slider;
                            cursor: pointer;

                            &:last-child {
                                border-right: 1px solid @border;
                            }

                            &:hover {
                                background-color: @white;
                            }
                        }

                        .active {
                            background-color: @white;

                            &:before {
                                content: '';
                                width: 50px;
                                height: 4px;
                                background: @blue;
                                position: absolute;
                                bottom: -1px;
                                left: 50%;
                                transform: translateX(-50%);
                                -webkit-transform: translateX(-50%);
                            }
                        }
                    }
                }

                .productListProductContent {
                    width: @f;
                    min-height: 550px;

                    .common {
                        display: none;
                    }

                    .active {
                        display: block;
                    }

                    .content {
                        width: @f;
                        min-height: 300px;
                        position: relative;

                        .filterProduct {
                            position: absolute;
                            margin-top: -40px;
                            left: calc(~'100% - 195px');
                            span{
                                margin-right: @10;
                            }
                        }

                        .spin {
                            line-height: 550px;
                            text-align: center;
                        }

                        .product {
                            display: flex;
                            flex-wrap: wrap;

                            >li {
                                width: calc(~'100% / 3 - 4px');
                                background: #f4f4f4;
                                margin: 0 @5 @5 0;
                                position: relative;

                                &:nth-child(3n) {
                                    margin: 0 0 @5 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}