@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.container {
  margin: 0 auto;
  /* padding: 0 40px; */
  width: 100%;
  color: #333;
  /* background: #419be0; */
}
.variable-width .slick-slide p {
  background: blue;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h3 {
  color: #0199d5;
  opacity: 1;
  transform: scale(1.08);
}
.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}
.content {
  padding: 20px;
  margin: auto;
  width: 90%;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  display: block;
  margin: auto;
  width: 100%;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  /* margin: 30px auto 50px; */
}
.slick-dots {
  margin-left: 0;
  position: relative;
}
.slick-thumb {
  bottom: 0px;
}
.slick-thumb li {
  width: 25%;
  height: 45px;
  margin: 0;
  line-height: 45px;
  border-right: 1px solid #ccc;
}
.slick-thumb li:last-child{
  border-right: 0;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
.slick-dots a{
  display: block;
}
.slick-dots a:hover{
  background-color: rgba(51, 51, 51, 0.14);
}
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #0199d5;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-arrow {
  /* background-color: grey; */
  /* color: black; */
}
.slick-arrow:hover {
  /* background-color: grey; */
}
.slick-prev {
  z-index: 100;
  left: 20px !important;
}
.slick-next {
  z-index: 100;
  right: 20px !important;
}

.slick-active a{
  color: #0199d5;
}
