<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/confirm.css">
</head>

<body>
  <div class="container white">
    <div class="info">
      <p>Application Name</p>
      <div class="line"></div>
      <div class="message">
        <p>即将登录你的账号，请确认是本人操作</p>

        <ul>
          <li>获取你的头像</li>
          <li>获取你的昵称</li>
          <li>使用你的账号登录应用</li>
        </ul>

        <a id="confirmlBtn" class="confirm" href="#">确认登录</a>
        <a id="cancelBtn" class="cancel" href="#">取消登录</a>
      </div>
    </div>
  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script>
    var uid = "<%= uid %>";
    var uuid = 'affb8d778e8211e9bf5f0242ac110003';
    var postState = function () {
      $.post("/scanner", { uid: uid }, function (result) {
        console.log(result)
      })
    }
    $("#cancelBtn").click(function () {
      $.post("/confirm", { uuid: uuid, uid: uid, operation: "cancel" }, function (result) {
        console.log(result.state)
      })
    })

    $("#confirmlBtn").click(function () {
      $.post("/confirm", { uuid: uuid, uid: uid, operation: "login" }, function (result) {
        alert('登陆成功')
        if(result.state === 3){
          setTimeout(function(){
            WeixinJSBridge.call('closeWindow')
          },2000)
        }
      })
    })
    postState()
  </script>
</body>

</html>